<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libraries Comparison</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="container">
        <div class="w">
            <div class="logo">
                <h1 id="webTitle">Libraries Comparison</h1>
                <h2>30 Concrete Code Examples from the Internet</h2>
            </div>
            <div class="tags" id="tags">
            </div>
            <div class="tit">
                <div class="titles" id="firT">
                    <div class="titName">1st Lib</div>
                    <div class="vis">
                        <div class="visRange" id="fir1vis"></div>
                        <div class="visRange" id="fir2vis"></div>
                        <div class="visRange" id="fir3vis"></div>
                        <div class="visRange" id="fir4vis"></div>
                        <div class="visRange" id="fir5vis"></div>
                        <div class="visRange" id="fir6vis"></div>
                        <div class="visRange" id="fir7vis"></div>
                        <div class="visRange" id="fir8vis"></div>
                        <div class="visRange" id="fir9vis"></div>
                        <div class="visRange" id="fir10vis"></div>
                        <div class="visRange" id="fir11vis"></div>
                        <div class="visRange" id="fir12vis"></div>
                        <div class="visRange" id="fir13vis"></div>
                        <div class="visRange" id="fir14vis"></div>
                        <div class="visRange" id="fir15vis"></div>
                        <div class="visRange" id="fir16vis"></div>
                        <div class="visRange" id="fir17vis"></div>
                        <div class="visRange" id="fir18vis"></div>
                        <div class="visRange" id="fir19vis"></div>
                        <div class="visRange" id="fir20vis"></div>
                        <div class="visRange" id="fir21vis"></div>
                        <div class="visRange" id="fir22vis"></div>
                        <div class="visRange" id="fir23vis"></div>
                        <div class="visRange" id="fir24vis"></div>
                        <div class="visRange" id="fir25vis"></div>
                        <div class="visRange" id="fir26vis"></div>
                        <div class="visRange" id="fir27vis"></div>
                        <div class="visRange" id="fir28vis"></div>
                        <div class="visRange" id="fir29vis"></div>
                        <div class="visRange" id="fir30vis"></div>
                    </div>
                </div>
                <div class="titles" id="secT">
                    <div class="titName">2nd Lib</div>
                    <div class="vis">
                        <div class="visRange" id="sec1vis"></div>
                        <div class="visRange" id="sec2vis"></div>
                        <div class="visRange" id="sec3vis"></div>
                        <div class="visRange" id="sec4vis"></div>
                        <div class="visRange" id="sec5vis"></div>
                        <div class="visRange" id="sec6vis"></div>
                        <div class="visRange" id="sec7vis"></div>
                        <div class="visRange" id="sec8vis"></div>
                        <div class="visRange" id="sec9vis"></div>
                        <div class="visRange" id="sec10vis"></div>
                        <div class="visRange" id="sec11vis"></div>
                        <div class="visRange" id="sec12vis"></div>
                        <div class="visRange" id="sec13vis"></div>
                        <div class="visRange" id="sec14vis"></div>
                        <div class="visRange" id="sec15vis"></div>
                        <div class="visRange" id="sec16vis"></div>
                        <div class="visRange" id="sec17vis"></div>
                        <div class="visRange" id="sec18vis"></div>
                        <div class="visRange" id="sec19vis"></div>
                        <div class="visRange" id="sec20vis"></div>
                        <div class="visRange" id="sec21vis"></div>
                        <div class="visRange" id="sec22vis"></div>
                        <div class="visRange" id="sec23vis"></div>
                        <div class="visRange" id="sec24vis"></div>
                        <div class="visRange" id="sec25vis"></div>
                        <div class="visRange" id="sec26vis"></div>
                        <div class="visRange" id="sec27vis"></div>
                        <div class="visRange" id="sec28vis"></div>
                        <div class="visRange" id="sec29vis"></div>
                        <div class="visRange" id="sec30vis"></div>
                    </div>
                </div>
                <div class="titles" id="thrT">
                    <div class="titName">3rd Lib</div>
                    <div class="vis">
                        <div class="visRange" id="thr1vis"></div>
                        <div class="visRange" id="thr2vis"></div>
                        <div class="visRange" id="thr3vis"></div>
                        <div class="visRange" id="thr4vis"></div>
                        <div class="visRange" id="thr5vis"></div>
                        <div class="visRange" id="thr6vis"></div>
                        <div class="visRange" id="thr7vis"></div>
                        <div class="visRange" id="thr8vis"></div>
                        <div class="visRange" id="thr9vis"></div>
                        <div class="visRange" id="thr10vis"></div>
                        <div class="visRange" id="thr11vis"></div>
                        <div class="visRange" id="thr12vis"></div>
                        <div class="visRange" id="thr13vis"></div>
                        <div class="visRange" id="thr14vis"></div>
                        <div class="visRange" id="thr15vis"></div>
                        <div class="visRange" id="thr16vis"></div>
                        <div class="visRange" id="thr17vis"></div>
                        <div class="visRange" id="thr18vis"></div>
                        <div class="visRange" id="thr19vis"></div>
                        <div class="visRange" id="thr20vis"></div>
                        <div class="visRange" id="thr21vis"></div>
                        <div class="visRange" id="thr22vis"></div>
                        <div class="visRange" id="thr23vis"></div>
                        <div class="visRange" id="thr24vis"></div>
                        <div class="visRange" id="thr25vis"></div>
                        <div class="visRange" id="thr26vis"></div>
                        <div class="visRange" id="thr27vis"></div>
                        <div class="visRange" id="thr28vis"></div>
                        <div class="visRange" id="thr29vis"></div>
                        <div class="visRange" id="thr30vis"></div>
                    </div>
                </div>
            </div>
            <div class="codes">
                <div class="codeCol" id="firCode">
                </div>
                <div class="codeCol" id="secCode">
                </div>
                <div class="codeCol" id="thrCode">
                </div>
            </div>
        </div>
        <div class="hierBtn" onclick="showHierarchy()">
            Hierarchy
        </div>
        <div class="menu" id="menu">
            <div class="menuW">
                <div class="menuTop">
                    <h1>Domain Selection</h1>
                    <div id="close" onclick="closeHierarchy()">X</div>
                </div>
                <div class="domainBtn">
                    <div class="domainB activated" id="nlpBtn" onclick="switchDomain('nlp')">NLP</div>
                    <div class="domainB" id="visBtn" onclick="switchDomain('vis')">Visualization</div>
                </div>
                <div class="libs">
                    <div class="libsT">Libraries</div>
                    <div class="lib" id="firLib">NLTK</div>
                    <div class="lib" id="secLib">TextBlob</div>
                    <div class="lib" id="thrLib">Spacy</div>
                </div>
                <h1>Feature Hierarchy</h1>
                <div class="hierarchy" id="hierarchy">
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</html>