<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libraries Comparison</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="container">
        <div class="w">
            <div class="logo">
                <h1 id="webTitle">Libraries Comparison</h1>
                <h2>30 Concrete Code Examples from the Internet</h2>
            </div>
            <div class="tags" id="tags">
            </div>
            <div class="tit">
                <div class="titles" id="firT">
                    <div class="titName">1st Lib</div>
                    <div class="vis">
                        <div class="visRange" id="visFir1"></div>
                        <div class="visRange" id="visFir2"></div>
                        <div class="visRange" id="visFir3"></div>
                        <div class="visRange" id="visFir4"></div>
                        <div class="visRange" id="visFir5"></div>
                        <div class="visRange" id="visFir6"></div>
                        <div class="visRange" id="visFir7"></div>
                        <div class="visRange" id="visFir8"></div>
                        <div class="visRange" id="visFir9"></div>
                        <div class="visRange" id="visFir10"></div>
                        <div class="visRange" id="visFir11"></div>
                        <div class="visRange" id="visFir12"></div>
                        <div class="visRange" id="visFir13"></div>
                        <div class="visRange" id="visFir14"></div>
                        <div class="visRange" id="visFir15"></div>
                        <div class="visRange" id="visFir16"></div>
                        <div class="visRange" id="visFir17"></div>
                        <div class="visRange" id="visFir18"></div>
                        <div class="visRange" id="visFir19"></div>
                        <div class="visRange" id="visFir20"></div>
                        <div class="visRange" id="visFir21"></div>
                        <div class="visRange" id="visFir22"></div>
                        <div class="visRange" id="visFir23"></div>
                        <div class="visRange" id="visFir24"></div>
                        <div class="visRange" id="visFir25"></div>
                        <div class="visRange" id="visFir26"></div>
                        <div class="visRange" id="visFir27"></div>
                        <div class="visRange" id="visFir28"></div>
                        <div class="visRange" id="visFir29"></div>
                        <div class="visRange" id="visFir30"></div>
                    </div>
                </div>
                <div class="titles" id="secT">
                    <div class="titName">2nd Lib</div>
                    <div class="vis">
                        <div class="visRange" id="visSec1"></div>
                        <div class="visRange" id="visSec2"></div>
                        <div class="visRange" id="visSec3"></div>
                        <div class="visRange" id="visSec4"></div>
                        <div class="visRange" id="visSec5"></div>
                        <div class="visRange" id="visSec6"></div>
                        <div class="visRange" id="visSec7"></div>
                        <div class="visRange" id="visSec8"></div>
                        <div class="visRange" id="visSec9"></div>
                        <div class="visRange" id="visSec10"></div>
                        <div class="visRange" id="visSec11"></div>
                        <div class="visRange" id="visSec12"></div>
                        <div class="visRange" id="visSec13"></div>
                        <div class="visRange" id="visSec14"></div>
                        <div class="visRange" id="visSec15"></div>
                        <div class="visRange" id="visSec16"></div>
                        <div class="visRange" id="visSec17"></div>
                        <div class="visRange" id="visSec18"></div>
                        <div class="visRange" id="visSec19"></div>
                        <div class="visRange" id="visSec20"></div>
                        <div class="visRange" id="visSec21"></div>
                        <div class="visRange" id="visSec22"></div>
                        <div class="visRange" id="visSec23"></div>
                        <div class="visRange" id="visSec24"></div>
                        <div class="visRange" id="visSec25"></div>
                        <div class="visRange" id="visSec26"></div>
                        <div class="visRange" id="visSec27"></div>
                        <div class="visRange" id="visSec28"></div>
                        <div class="visRange" id="visSec29"></div>
                        <div class="visRange" id="visSec30"></div>
                    </div>
                </div>
                <div class="titles" id="thrT">
                    <div class="titName">3rd Lib</div>
                    <div class="vis">
                        <div class="visRange" id="visThr1"></div>
                        <div class="visRange" id="visThr2"></div>
                        <div class="visRange" id="visThr3"></div>
                        <div class="visRange" id="visThr4"></div>
                        <div class="visRange" id="visThr5"></div>
                        <div class="visRange" id="visThr6"></div>
                        <div class="visRange" id="visThr7"></div>
                        <div class="visRange" id="visThr8"></div>
                        <div class="visRange" id="visThr9"></div>
                        <div class="visRange" id="visThr10"></div>
                        <div class="visRange" id="visThr11"></div>
                        <div class="visRange" id="visThr12"></div>
                        <div class="visRange" id="visThr13"></div>
                        <div class="visRange" id="visThr14"></div>
                        <div class="visRange" id="visThr15"></div>
                        <div class="visRange" id="visThr16"></div>
                        <div class="visRange" id="visThr17"></div>
                        <div class="visRange" id="visThr18"></div>
                        <div class="visRange" id="visThr19"></div>
                        <div class="visRange" id="visThr20"></div>
                        <div class="visRange" id="visThr21"></div>
                        <div class="visRange" id="visThr22"></div>
                        <div class="visRange" id="visThr23"></div>
                        <div class="visRange" id="visThr24"></div>
                        <div class="visRange" id="visThr25"></div>
                        <div class="visRange" id="visThr26"></div>
                        <div class="visRange" id="visThr27"></div>
                        <div class="visRange" id="visThr28"></div>
                        <div class="visRange" id="visThr29"></div>
                        <div class="visRange" id="visThr30"></div>
                    </div>
                </div>
            </div>
            <div class="codes">
                <div class="codeCol" id="firCode">
                </div>
                <div class="codeCol" id="secCode">
                </div>
                <div class="codeCol" id="thrCode">
                </div>
            </div>
        </div>
        <div class="hierBtn" onclick="showHierarchy()">
            Hierarchy
        </div>
        <div class="menu" id="menu">
            <div class="menuW">
                <div class="menuTop">
                    <h1>Domain Selection</h1>
                    <div id="close" onclick="closeHierarchy()">X</div>
                </div>
                <div class="domainBtn">
                    <div class="domainB activated" id="nlpBtn" onclick="switchDomain('nlp')">NLP</div>
                    <div class="domainB" id="visBtn" onclick="switchDomain('vis')">Visualization</div>
                </div>
                <div class="libs">
                    <div class="libsT">Libraries</div>
                    <div class="lib" id="firLib">NLTK</div>
                    <div class="lib" id="secLib">TextBlob</div>
                    <div class="lib" id="thrLib">Spacy</div>
                </div>
                <h1>Feature Hierarchy</h1>
                <div class="hierarchy" id="hierarchy">
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</html>