<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libraries Comparison</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="container">
        <div class="w">
            <div class="logo">
                <h1 id="webTitle">Libraries Comparison</h1>
                <h2>30 Concrete Code Examples from the Internet</h2>
            </div>
            <div class="tags" id="tags">
                <div class="tagName">First Level Concepts</div>
                <div id="firTag" class="levelTag"></div>
                <div class="tagName">Second Level Concepts</div>
                <div id="secTagContainer" class="levelTag"></div>
            </div>
            <div class="switch-btn">
                Within Library
                <label class="switch">
                    <input id="switch" class="switch-check" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                Across Library
            </div>
            <div class="tit">
                <div class="titles" id="firT">
                    <div class="titName" onclick="switchWithin('fir')">1st Lib</div>
                    <div class="axisName">Number of Lines</div>
                    <div class="vis" id="firVis"></div>
                </div>
                <div class="titles" id="secT">
                    <div class="titName" onclick="switchWithin('sec')">2nd Lib</div>
                    <div class="axisName">Number of Lines</div>
                    <div class="vis" id="secVis"></div>
                </div>
                <div class="titles" id="thrT">
                    <div class="titName" onclick="switchWithin('thr')">3rd Lib</div>
                    <div class="axisName">Number of Lines</div>
                    <div class="vis" id="thrVis"></div>
                </div>
            </div>
            <div class="codes">
                <div class="codeColumns">
                    <div class="codeCol acrossCol" id="firCode" onscroll="scrollElement(event)"></div>
                    <div class="codeCol withinCol" id="firCodeWithin" onscroll="scrollElement(event)"></div>
                </div>
                <div class="codeColumns">
                    <div class="codeCol acrossCol" id="secCode" onscroll="scrollElement(event)"></div>
                    <div class="codeCol withinCol" id="secCodeWithin" onscroll="scrollElement(event)"></div>
                </div>
                <div class="codeColumns">
                    <div class="codeCol acrossCol" id="thrCode" onscroll="scrollElement(event)"></div>
                    <div class="codeCol withinCol" id="thrCodeWithin" onscroll="scrollElement(event)"></div>
                </div>
            </div>
        </div>
        <div class="hierBtn" onclick="showHierarchy()">
            Hierarchy
        </div>
        <div class="menu" id="menu">
            <div class="menuW">
                <div class="menuTop">
                    <h1>Domain Selection</h1>
                    <div id="close" onclick="closeHierarchy()">X</div>
                </div>
                <div class="domainBtn">
                    <div class="domainB activated" id="nlpBtn" onclick="switchDomain('nlp')">NLP</div>
                    <div class="domainB" id="visBtn" onclick="switchDomain('vis')">Visualization</div>
                </div>
                <div class="libs">
                    <div class="libsT">Libraries</div>
                    <div class="lib" id="firLib">NLTK</div>
                    <div class="lib" id="secLib">TextBlob</div>
                    <div class="lib" id="thrLib">Spacy</div>
                </div>
                <h1>Feature Hierarchy</h1>
                <div class="hierarchy" id="hierarchy">
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</html>