* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Change the screen size to use different css */
@media only screen and (min-width: 1000px) and (max-width: 1299px) {
    html {
        font-size: 8px;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1499px) {
    html {
        font-size: 9px;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1699px) {
    html {
        font-size: 10px;
    }
}
@media only screen and (min-width: 1700px) and (max-width: 1899px) {
    html {
        font-size: 11px;    
    }
}
@media only screen and (min-width: 1900px) and (max-width: 2099px) {
    html {
        font-size: 12px;    
    }
}
@media only screen and (min-width: 2100px) and (max-width: 2299px) {
    html {
        font-size: 13px;    
    }
}
@media only screen and (min-width: 2300px) and (max-width: 2499px) {
    html {
        font-size: 14px;
    }
}
@media only screen and (min-width: 2500px) {
    html {
        font-size: 15px;
    }
}
h1 {
    font-family: Verdana,Geneva,sans-serif; 
    line-height: 2;
    font-size: 3rem;
    font-weight: 600;
}
h2 { 
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 100; 
    line-height: 1.5; 
}
h3 { 
    font-family: sans-serif; 
    font-size: 2.5rem; 
    font-weight: 100; 
    line-height: 1.5; 
}
body {
    background-color: #F1F5F9;
}
.container {
    width: 170rem;
    position: relative;
}
/* .w is the main part of each page, that is, the center of the page */
.w {
    width: 130rem;
    margin: 0rem 0rem auto 40rem;
}
.w .logo {
    width: 130rem;
    height: 11rem;
    padding-top: 3rem;
}
.w .tags {
    width: 130rem;
    height: 6rem;
    margin-bottom: 1rem;
}
.w .tags .tagName {
    float: left;
    width: 15rem;
    height: 2.5rem;
    font-family: sans-serif; 
    font-size: 1.2em; 
    font-weight: 100; 
    line-height: 2.5rem;
}
.w .tags .levelTag {
    display: inline-block;
    width: 115rem;
    height: 2.5rem;
}
.w .tags #secTagContainer {
    height: 2.5rem;
}
.w .tags .levelTag .tag {
    float: left;
    width: fit-content;
    height: 2.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
    padding: 0rem 1rem;
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 400; 
    line-height: 2.5rem;
    color: #021b25; 
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
}
.w .tags #firTag .tag {
    margin: 0rem 1.5rem 0rem 0rem;
}
.w .tags #secTagContainer .secTag .tag {
    margin: 0.5rem 1.0rem 0rem 0rem;
}
.w .tags .tag:hover {
    opacity: 1.0 !important;
}
.w #btns {
    width: 50rem;
    height: 6rem;
}
.w .switch-btn {
    width: 50rem;
    height: 3rem;
    line-height: 2rem;
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 100;
}
.w .switch-btn .switch {
    margin: 1rem 1.5rem;
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2rem;
}
.w .switch-btn .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.w .switch-btn .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.w .switch-btn .switch .slider:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.w .switch-btn .switch input:checked + .slider {
    background-color: #2196F3;
}
.w .switch-btn .switch input:focus + .slider {
    box-shadow: 0 0 0.1rem #2196F3;
}
.w .switch-btn .switch input:checked + .slider:before {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
}
.w .switch-btn .switch .slider.round {
    border-radius: 2rem;
}
.w .switch-btn .switch .slider.round:before {
    border-radius: 50%;
}
.w .tit {
    width: 130rem;
    height: 8rem;
    display: flex;
    justify-content: space-between;
}
.w .tit .titles {
    width: 42rem;
    height: 8rem;
    position: relative;
}
.w .tit .titles .titName {
    float: left;
    width: 8rem;
    height: 8rem;
    font-family: sans-serif; 
    font-size: 2.0rem; 
    font-weight: 100; 
    line-height: 13rem;
}
.w .tit .titles .axisName {
    position: absolute;
    transform: rotate(-90deg);
    height: 1rem;
    width: 8rem;
    top: 3.5rem;
    right: -2rem;
    text-align: start;
    font-family: sans-serif; 
    font-size: 1.0rem; 
    font-weight: 100; 
    line-height: 1rem;
}
.w .tit .titles .vis {
    float: left;
    width: 30rem;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.w .tit .titles .vis .visRange {
    width: 0.8rem;
    height: 8rem;
    border-radius: 0.2rem;
    background-color: #5d5f5f;
    opacity: 0.8;
    cursor: pointer;
}
.w .tit .titles .vis .visRange:hover {
    opacity: 1.0;
}
.w .codes {
    width: 130rem;
    height: 54rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}
.w .codes .codeColumns {
    width: 43rem;
    height: 54rem;
}
.w .codes .codeColumns .codeCol {
    width: 43rem;
    height: 54rem;
    overflow-y: auto;
}
.w .codes .codeColumns .codeCol .codeRange {
    margin: 0rem;
    width: 42rem;
    height: fit-content;
    padding-bottom: 1rem;
    position: relative;
}
.w .codes .codeColumns .codeCol .codeRange .marker {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 1rem;
    height: 100%;
    border-radius: 1.5rem;
    background-color: #F1F5F9;
    opacity: 0.8;
}
.w .codes .codeColumns .codeCol .codeRange .marker .markerSpan {
    position: absolute;
    width: 100%;
    background-color: #BDE0FE;
    opacity: 0;
}
.w .codes .codeColumns .codeCol .codeRange .codeBlock {
    width: 42rem;
    height: fit-content;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    overflow-y: auto;
    word-wrap: break-word;
}
.w .codes .codeColumns .codeCol code {
    display: block;
    width: 41rem;
}
.w .codes .codeColumns .codeCol .codeRange .codeBlock code .highlights {
    font-size: initial;
}
.w .codes .codeColumns .codeCol .udls {
    font-weight: normal;
}
.w .codeColumns .withinCol {
    width: 43rem;
    height: 54rem;
    overflow-y: auto;
    display: none;
}
.w .codeColumns .withinCol .smallBlock {
    width: 41rem;
    height: fit-content;
    box-sizing: border-box;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    overflow-y: auto;
    word-wrap: break-word;
}
.w .codeColumns .withinCol .smallBlock code .highlights {
    display: inline-block;
    font-size: initial;
}
.w .codeColumns .withinCol .smallBlock .highlights .blodFunc {
    font-weight: normal;
}
.container .hierBtn {
    position: absolute;
    width: 25.5rem;
    height: 4.5rem;
    left: -10.5rem;
    top: 50%;
    font-family: Verdana,Geneva,sans-serif; 
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: #7a7a7a;
    border-radius: 0rem 0rem 1rem 1rem;
    transform: rotate(270deg);
    cursor: pointer;
}
.container .hierBtn:hover {
    background-color: #5d5f5f;
}
.container .menu {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 38rem;
    height: 100vh;
    background-color: #fff;
}
.container .menu .menuW {
    width: 36rem;
    margin: 12rem 1rem;
}
.container .menu .menuW .menuTop {
    width: 36rem;
}
.container .menu .menuW h3 {
    line-height: 6rem;
    display: inline-block;
    padding-left: 1rem;
    font-size: 1.5rem;
}
.container .menu .menuW .domainBtn {
    width: 32rem;
    height: 1.5rem;
    margin: 0.5rem 2rem;
    background-color: #F2F2F2;
    border-radius: 0.3rem;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.container .menu .menuW .domainBtn .domainB {
    width: 15.8rem;
    height: 1.3rem;
    border-radius: 0.3rem;
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 100; 
    line-height: 1.3rem;
    color: #BFBFBF;
    text-align: center;
    cursor: pointer;
}
.container .menu .menuW .domainBtn .activated {
    color: black;
    background-color: #fff;
}
.container .menu .menuW .libs {
    width: 32rem;
    height: 1.5rem;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
}
.container .menu .menuW .libsT {
    width: 5rem;
    height: 1.5rem;
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 100; 
    line-height: 1.5rem;
}
.container .menu .menuW .lib {
    width: 8rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 600; 
    line-height: 1.5rem;
    color: #fff;
    background-color: #5d5f5f;
    text-align: center;
}
.container .menu .menuW .hierarchy {
    width: 35rem;
    height: 58rem;
    margin: auto 0.5rem;
}
.container .menu .menuW .hierarchy .hDiv {
    float: right;
    height: 2rem;
    cursor: pointer;
}
.container .menu .menuW .hierarchy .firH {
    width: 35rem;
    background-color: #F1F5F9;
}
.container .menu .menuW .hierarchy .secH {
    width: 34rem;
}
.container .menu .menuW .hierarchy .hDiv:hover {
    background-color: #F1F5F9 !important; 
}
.container .menu .menuW .hierarchy .hName {
    box-sizing: border-box;
    width: 13rem;
    height: 2rem;
    float: left;
    padding-left: 0.2rem;
    font-family: sans-serif; 
    font-weight: 100; 
    line-height: 2rem;
    pointer-events:none
}
.container .menu .menuW .hierarchy .hVis {
    box-sizing: border-box;
    padding-right: 0.2rem;
    width: 21rem;
    height: 2rem;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events:none
}
.container .menu .menuW .hierarchy .hVis .hVisOut {
    width: 7rem;
    height: 1.2rem;
}
.container .menu .menuW .hierarchy .hVis .hVisOut .hVisIn {
    height: 1.2rem;
    border-radius: 0.5rem;
    background-color: #5d5f5f;
    font-family: sans-serif; 
    font-weight: 100; 
    line-height: 1.2rem;
    color: #fff;
    text-align: center;
}