* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Change the screen size to use different css */
@media only screen and (min-width: 1000px) and (max-width: 1249px) {
    html {
        font-size: 6.5px;
    }
}
@media only screen and (min-width: 1250px) and (max-width: 1499px) {
    html {
        font-size: 7.5px;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1699px) {
    html {
        font-size: 8.5px;
    }
}
@media only screen and (min-width: 1700px) and (max-width: 1849px) {
    html {
        font-size: 9.5px;    
    }
}
@media only screen and (min-width: 1850px) and (max-width: 2049px) {
    html {
        font-size: 10.5px;    
    }
}
@media only screen and (min-width: 2050px) and (max-width: 2199px) {
    html {
        font-size: 12px;    
    }
}
@media only screen and (min-width: 2200px) and (max-width: 2299px) {
    html {
        font-size: 13px;    
    }
}
@media only screen and (min-width: 2300px) and (max-width: 2499px) {
    html {
        font-size: 14px;
    }
}
@media only screen and (min-width: 2500px) {
    html {
        font-size: 15px;
    }
}
h1 {
    font-family: Verdana,Geneva,sans-serif; 
    line-height: 2;
    font-size: 2.3rem;
    font-weight: 600;
}
h2 { 
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 100; 
    line-height: 1.5; 
}
h3 { 
    font-family: sans-serif; 
    font-size: 2.5rem; 
    font-weight: 100; 
    line-height: 1.5; 
}
body {
    background-color: #F1F5F9;
}
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
/* .w is the main part of each page, that is, the center of the page */
.w {
    width: 75%;
    height: 100%;
    margin: 0 0 auto 25%;
    overflow: hidden;
}
.w #btns {
    width: 100%;
    height: 3.3%;
    display: flex;
    margin-top: 3.3%;
}
.w #btns .switch-btn {
    width: 40%;
    height: 100%;
    line-height: 2rem;
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 100;
}
.w #btns #highlightBtn {
    width: 35%;
}
.w .switch-btn .switch {
    margin: 1rem 1.5rem;
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2rem;
}
.w .switch-btn .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.w .switch-btn .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.w .switch-btn .switch .slider:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.w .switch-btn .switch input:checked + .slider {
    background-color: #2196F3;
}
.w .switch-btn .switch input:focus + .slider {
    box-shadow: 0 0 0.1rem #2196F3;
}
.w .switch-btn .switch input:checked + .slider:before {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
}
.w .switch-btn .switch .slider.round {
    border-radius: 2rem;
}
.w .switch-btn .switch .slider.round:before {
    border-radius: 50%;
}
.w .tit {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-between;
}
.w .tit .titles {
    width: 32.3%;
    height: 100%;
    position: relative;
}
.w .tit .titles .titName {
    float: left;
    width: 20%;
    height: 100%;
    font-family: sans-serif; 
    font-size: 2.0rem; 
    font-weight: 100; 
    line-height: 13rem;
}
.w .tit .titles .axisName {
    position: absolute;
    transform: rotate(-90deg);
    height: 1rem;
    width: 20%;
    bottom: 4rem;
    right: -8%;
    text-align: start;
    font-family: sans-serif; 
    font-size: 1.0rem; 
    font-weight: 100; 
    line-height: 1rem;
}
.w .tit .titles .vis {
    float: left;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.w .tit .titles .vis .visRange {
    width: 1.8%;
    height: 100%;
    border-radius: 0.2rem;
    background-color: #5d5f5f;
    opacity: 0.8;
    cursor: pointer;
}
.w .tit .titles .vis .visRange:hover {
    opacity: 1.0;
}
.w .tit .titles .vis .unmatchedVis {
    opacity: 0.1;
    pointer-events: none;
}
.w .codes {
    width: 100%;
    height: 83%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}
.w .codes .codeColumns {
    width: 33%;
    height: 100%;
}
.w .codes .codeColumns .codeCol {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.w .codes .codeColumns .codeCol .codeRange {
    margin: 0rem;
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
    position: relative;
}
.w .codes .codeColumns .codeCol .codeRange .marker {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 0%;
    height: 100%;
    border-radius: 1.5rem;
    background-color: #F1F5F9;
    opacity: 0.8;
}
.w .codes .codeColumns .codeCol .codeRange .marker .markerSpan {
    position: absolute;
    width: 100%;
    background-color: #BDE0FE;
    opacity: 0;
}
.w .codes .codeColumns .codeCol .codeRange .codeBlock {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 0rem 0rem 1rem 0rem;
    border-radius: 1rem;
    background-color: #fff;
    overflow-y: hidden;
    overflow-wrap: break-word;
}
.w .codes .codeColumns .codeCol .codeRange .codeBlock .codeLink {
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    float: right;
    background-color: #c2daf0;
    border-radius: 1rem 1rem 0 0;
}
.w .codes .codeColumns .codeCol pre{
    white-space: pre-wrap;
    padding: 0rem 2rem;
}
.w .codes .codeColumns .codeCol pre code {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    overflow-wrap: break-word;
    overflow-x: hidden;
}
.w .codes .codeColumns .codeCol .codeRange .codeBlock code .highlights {
    font-size: 1.4rem;
    font-family: monospace;
    overflow-wrap: break-word;
}
.w .codes .codeColumns .codeCol .udls {
    font-weight: normal;
    font-family: monospace;
}
.w .codeColumns .withinCol {
    width: 100%;
    height: fit-content;
    overflow-y: auto;
    display: none;
}
.w .codeColumns .withinCol .smallBlock {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    overflow-y: hidden;
    overflow-wrap: break-word;
    font-size: 1rem;
}
.w .codeColumns .withinCol .smallBlock code .highlights {
    display: inline-block;
    font-size: 1.4rem;
    font-family: monospace;
    overflow-wrap: break-word;
}
.w .codeColumns .withinCol .smallBlock .highlights .blodFunc {
    font-weight: normal;
    font-family: monospace;
}
.w code {
    font-family: monospace;
    overflow-wrap: break-word;
    font-size: 1.2rem;
}
.container .menu {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 24%;
    height: 100vh;
    background-color: #fff;
}
.container .menu .menuW {
    width: 95%;
    margin: 0 2.5%;
}
.container .menu .menuW .logo {
    width: 100%;
    height: 6rem;
    padding-top: 1rem;
}
.container .menu .menuW .menuTop {
    width: 100%;
}
.container .menu .menuW h3 {
    margin-top: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    padding-left: 1rem;
    font-size: 1.5rem;
}
.container .menu .menuW .domainBtn {
    width: 92.5%;
    height: 1.5rem;
    margin: 0.5rem 5%;
    background-color: #F2F2F2;
    border-radius: 0.3rem;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.container .menu .menuW .domainBtn .domainB {
    width: 49%;
    height: 1.3rem;
    border-radius: 0.3rem;
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 100; 
    line-height: 1.3rem;
    color: #BFBFBF;
    text-align: center;
    cursor: pointer;
}
.container .menu .menuW .domainBtn .activated {
    color: black;
    background-color: #fff;
}
.container .menu .menuW .libs {
    width: 95%;
    height: 1.5rem;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
}
.container .menu .menuW .libsT {
    width: 14%;
    height: 1.5rem;
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 100; 
    line-height: 1.5rem;
}
.container .menu .menuW .lib {
    width: 22.2%;
    height: 1.5rem;
    border-radius: 0.5rem;
    font-family: sans-serif; 
    font-size: 1.2rem; 
    font-weight: 600; 
    line-height: 1.5rem;
    color: #fff;
    background-color: #5d5f5f;
    text-align: center;
}
.container .menu .menuW #hierarchyHead {
    width: 100%;
    height: 6rem;
    float: left;
}
.container .menu .menuW #hierarchyHead #removeAllBtn {
    float: right;
    width: 36%;
    height: 2rem;
    line-height: 2rem;
    margin: 3rem 2rem;
    background-color: #5d5f5f;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
}
.container .menu .menuW #hierarchyHead #removeAllBtn:hover {
    opacity: 1.0;
}
.container .menu .menuW .hierarchy {
    width: 98%;
    height: 67rem;
    margin: auto 0.5rem;
    overflow-y: auto;
}
.container .menu .menuW .hierarchy .hDiv {
    float: right;
    height: fit-content;
    cursor: pointer;
    padding: 0.5rem 0rem;
}
.container .menu .menuW .hierarchy .firH {
    width: 100%;
}
.container .menu .menuW .hierarchy .secH {
    width: 98%;
}
.container .menu .menuW .hierarchy .hDiv:hover {
    background-color: #F1F5F9 !important; 
}
.container .menu .menuW .hierarchy .hDiv .conceptBox {
    float: left;
    width: 5%;
    height: 1rem;
    margin: 0.6rem 0rem;
    margin-right: 0.1rem;
}
.container .menu .menuW .hierarchy .hName {
    box-sizing: border-box;
    width: fit-content;
    max-width: 35%;
    min-height: 1.8rem;
    height: fit-content;
    float: left;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin: 0.25rem 0rem;
    font-family: sans-serif; 
    font-weight: 100; 
    font-size: 1.5rem;
    line-height: 1.5rem;
    pointer-events:none;
    border-radius: 0.2rem;
}
.container .menu .menuW .hierarchy .hVis {
    box-sizing: border-box;
    padding-right: 0.2rem;
    width: 21rem;
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events:none
}
.container .menu .menuW .hierarchy .hVis .hVisOut {
    width: 33.3%;
    height: 1.8rem;
    position: relative;
}
.container .menu .menuW .hierarchy .hVis .hVisOut .hVisIn {
    height: 1.8rem;
    background-color: #5d5f5f;
    opacity: 0.5;
    z-index: 1;
}
.container .menu .menuW .hierarchy .hVis .hVisOut .conditionVis {
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: 1.8rem;
    background-color: #5d5f5f;
    font-family: sans-serif; 
    font-weight: 100; 
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #fff;
    text-align: center;
    z-index: 2;
}